body {
  height: 100vh;
  background: linear-gradient(to bottom, #009688 20%, #dbdbd3 20% 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1200px;
  width: 80%;
  height: 90%;
  background-color: #eaeaea;
}
