body {
  height: 100vh;
  background: linear-gradient(to bottom, #009688 20%, #dbdbd3 20% 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}

main {
  max-width: 1200px;
  width: 80%;
  height: 90%;
  background-color: #eaeaea;
}

.avatar {
  border-radius: 50%;
  max-width: 50px;
}

.search {
  height: 50px;
  position: relative;
}

.search .fa-search {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.search input {
  border: 0;
  height: 100%;
  padding-left: 50px;
}

#top-bar {
  height: 50px;
}
#bottom-bar {
  height: 50px;
}

#chat {
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
  max-height: calc(100% - 100px);
  height: calc(100% - 100px);
}

/** MESSAGES  */
.message-container {
  display: flex;
}
.message-container.sent {
  justify-content: flex-end;
}

.message-container.received {
  justify-content: flex-start;
}

.message-container.sent .message {
  background-color: #d5f9ba;
}

.message-container.received .message {
  background-color: #fff;
}

.message-container .message p {
  margin-bottom: 0;
}
.message-container .message time {
  display: block;
  text-align: right;
  font-size: 11px;
  color: #aaa;
}
